= form_for @community_user do |f|
  - if @community_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@community_user.errors.count, "error")} prohibited this community_user from being saved:"
      %ul
        - @community_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :community_id
    = f.text_field :community_id
  .field
    = f.label :typeuser
    = f.number_field :typeuser
  .actions
    = f.submit 'Save'
