%h1 Listing community_users

%table.table
  %thead
    %tr
      %th User
      %th Community
      %th Typeuser
      %th
      %th
      %th

  %tbody
    - @community_users.each do |community_user|
      %tr
        %td= community_user.user.email
        %td= community_user.community.name
        %td= community_user.typeuser
        %td= link_to 'Show', community_user
        %td= link_to 'Edit', edit_community_user_path(community_user)
        %td= link_to 'Destroy', community_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Community user', new_community_user_path
