%p

%p
%p
  %b User:
  = link_to @community_user.user.email
%p
  %b Community:
  = link_to @community_user.community.name
%p
  %b Typeuser:
  = @community_user.typeuser

= link_to 'Редактировать', edit_community_user_path(@community_user)
\|
= link_to 'Назад', community_users_path
