%p#notice= notice

%p
  %b User:
  = @community_user.user
%p
  %b Community:
  = @community_user.community
%p
  %b Typeuser:
  = @community_user.typeuser

= link_to 'Edit', edit_community_user_path(@community_user)
\|
= link_to 'Back', community_users_path
