%h1 Список сообществ-страниц

%table
  %thead
    %tr
      %th Page
      %th Community
      %th Ismain
      %th
      %th
      %th

  %tbody
    - @community_pages.each do |community_page|
      %tr
        %td= community_page.page.header
        %td= community_page.community.name
        %td= community_page.ismain
        %td= link_to 'Показать', community_page
        %td= link_to 'Редактировать', edit_community_page_path(community_page)
        %td= link_to 'Удалить', community_page, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Создать', new_community_page_path
