%p#notice= notice

%p
  %b Страница:
  = link_to @community_page.page.header
%p
  %b Сообщество:
  = link_to @community_page.community.name
%p
  %b Ismain:
  = @community_page.ismain

= link_to 'Редактировать', edit_community_page_path(@community_page)
\|
= link_to 'Назад', community_pages_path
