.page-header
  <h1>Список сообществ</h1>

%table.table
  %thead
    %tr
      %th Название
      %th
      %th
      %th

  %tbody
    - @communities.each do |community|
      %tr
        %td= community.name
        %td
          = link_to community,"data-toggle" => "tooltip", :title => "Развернутая информация сообщества", class: "btn btn-success btn-xs" do
            =fa_icon "arrow-circle-right"
            Показать

        %td
          = link_to edit_community_path(community), class: "btn btn-warning btn-xs" do
            =fa_icon "edit"
            Редактировать

        %td
          = link_to community, :method => :delete, :data => { :confirm => 'Вы уверены?' },class: "btn btn-danger btn-xs" do
            =fa_icon "remove"
            Удалить



%br


= link_to new_community_path, "data-toggle" => "tooltip", :title => "Создать новое сообщество", class: "btn btn-primary" do
  =fa_icon "plus"
  Создать

