.row
  .col-md-8
    = form_for @plan do |f|
      - if @plan.errors.any?
        = error_messages_for @plan
		

      .row
        .col-md-4
          .form-group
            =f.label :code
            =f.text_field(:code, class: 'form-control')
            =f.error_messages_for(:code)

        .col-md-4
          .form-group
            =f.label :title
            =f.text_field(:title, class: 'form-control')
            =f.error_messages_for(:title)

        .col-md-4
          .form-group
            =f.label :level
            =f.text_field(:level, class: 'form-control')
            =f.error_messages_for(:level)

      .row
        .col-md-8
          .form-group
            =f.label :form_of_study
            =f.select :form_of_study, [["Очное", 0], ["Заочное", 1]]
            =f.error_messages_for(:for_of_study)
            

        .col-md-4
          .form-group
            =f.label :training_period_start
            =f.number_field(:training_period_start, class: 'form-control')
            =f.error_messages_for(:training_period_start)
            
        .col-md-4
          .form-group
            =f.label :training_period_finish
            =f.number_field(:training_period_finish, class: 'form-control')
            =f.error_messages_for(:training_period_start)

            
      .row
        .col-md-6
          .form-group
            =f.label :university_id
            =f.select(:university_id,
            options_for_select(University.order(:name).all.map{ |u| [u.name, u.id] }.to_a,
            f.object.university_id), {}, {class: 'form-control selectpicker', multiple: false,
            data: {value: f.object.university_id, 'live-search' => 'true'}})
            
      .row
        .col-md-6
          =f.label :subjects
          -f.object.subjects.each_with_index do |s, i|
            .row 
              .col-md-12
                .form-group  
                  =select_tag 'subject[]', options_for_select(subject_options, s.id), class: 'form-control selectpicker', data: {velue: s.id}
                  =link_to "Нет в списке", new_subject_path(i: i), remote: true, id: "new_subjects_link#{i}"
          .row
            =link_to "Добавить еще дисциплину", add_one_more_plans_path(i: f.object.subjects.size, object: :subject), remote: true, id: "one_more_subject"

        .col-md-6
          =f.label :groups
          -f.object.groups.each_with_index do |g, i|
            .row 
              .col-md-12
                .form-group  
                  =select_tag 'group[]', options_for_select(group_options, g.id), class: 'form-control selectpicker', data: {velue: g.id}
                  =link_to "Нет в списке", new_group_path(i: i), remote: true, id: "new_groups_link#{i}"
          .row
            =link_to "Добавить еще группу", add_one_more_plans_path(i: f.object.groups.size, object: :group), remote: true, id: "one_more_group"



      .actions
        = f.button "data-toggle" => "tooltip", class: "btn btn-primary" do
          =fa_icon "check"
          Сохранить
  .col-md-4#new_field
